.wayOfTownhalls {
    background: rgba($colorSecondary, $alpha: 0.05);

    .heroGrid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 105px;
        gap: 0px 0px;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

    }

    .col-lg-6 {
        &:nth-child(3) {
            @include respond(maxWidth992) {
                order: 3;
            }
        }

        @include respond(minWidth992) {
            &:first-child {
                .content {
                    margin-left: auto;
                    padding-right: 50px;
                }
            }

            &:last-child {
                .content {
                    margin-right: auto;
                    padding-left: 50px;
                }
            }
        }
    }

    .content {
        @include respond(maxWidth992) {
            text-align: center;
            margin: 3rem;
        }

        @include respond(minWidth992) {
            width: 470px;
        }

        @include respond(minWidth1200) {
            width: 560px;
        }

        @media screen and (min-width:1400px) {
            width: 650px;

        }
    }
}

.townhallHappen {
    .process {
        position: relative;
        display: block;
        text-align: center;
        margin-bottom: 22px;

        &__icon {
            width: 198px;
            aspect-ratio: 1 / 1;
            background: $colorWhite;
            border-radius: 100%;
            border: 10px solid $colorPrimary;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            z-index: 1;
            transition: $transition;

            .img-fluid {
                width: calc(100% - 10rem);
                position: relative;
                display: inline-block;
            }
        }

        &__count {
            position: absolute;
            bottom: -10px;
            right: -10px;
            border-top: 95px solid rgba(0, 0, 0, 0);
            border-right: 95px solid $colorPrimary;
            z-index: 2;
            transition: $transition;

        }

        &__content {
            .heading-tertiary {
                color: $colorWhite;
                padding: 1rem;
                font-size: 1.6rem;
                font-weight: 500;
                text-transform: uppercase;
                background: $colorPrimary;
                border-top: 1px solid $colorPrimary;
                border-bottom: 1px solid $colorPrimary;
                transition: $transition;
            }
        }

        &:hover {
            .process__icon {
                background: $colorPrimary;

                .img-fluid {
                    filter: brightness(100);
                }
            }

            .heading-tertiary {
                color: $colorPrimary;
                background: $colorWhite;
            }
        }
    }
}

.hostYourSchool {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($colorBlack, $alpha: 0.7);
        top: 0;
        left: 0;
    }

    .container {
        position: relative;

        a {
            @include BtnOne();
        }
    }
    .card{
        background: rgba($colorWhite, $alpha: 1);
        overflow: hidden;
        border-radius: 16px;
        box-shadow: $boxShadowThree;
        position: relative;
        &:hover{
            .imgBx img{
                transform: scale(1.1);
            }
        }
        .imgBx{
            overflow: hidden;
            height: 20rem;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: $transition;
            }
        }
        .contentBx{
            padding: 2rem 2rem 4rem 2rem;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../../images/icon/bg-02.png);
                bottom: 0;
                left: 0;
                background-position: left bottom;
                filter: grayscale(100);
                background-size: contain;
                opacity: 0.2;
                background-repeat: no-repeat;
            }
            .heading-tertiary{
                font-weight: 700;
                font-size: 1.6rem;
                color: $colorPrimary;
                text-align: center;
                position: relative;
                line-height: normal;
                height: 47px;
            }
            .timing{
                text-align: center;
                padding: 1rem;
                font-size: 1.4rem;
                font-weight: 500;
                color: rgba($colorText, 0.7);
                border-top: 1px solid rgba($colorText, 0.7);
                border-bottom: 1px solid rgba($colorText, 0.7);
                position: relative;
            }
        }
    }
}

.whoAttend {

    .attendies {
        background: $colorWhite;
        text-align: center;
        border-radius: 16px;
        overflow: hidden;
        transition: $transition;
        box-shadow: $boxShadowThree;

        &:hover {
            transform: translateY(-10px);

            .heading-tertiary {
                color: $colorWhite;
                background: $colorSecondary;
            }
        }

        .heading-tertiary {
            padding: 3rem 0;
            margin: 0;
            text-transform: uppercase;
            font-weight: 700;
            transition: $transition;
        }
    }
}

.townhallEventsDate {
    .eventCard {
        &.expired {
            background: rgba($colorGray, $alpha: 0.5);
            pointer-events: none;

            .heading-quartery,
            .content p,
            .link a {
                color: darken($colorGray, 20%) !important;
            }
        }

        @include respond (minWidth1200){
            display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        }
        box-shadow: $boxShadowThree;
        border-radius: 1.6rem;
        border-left: 4px solid transparent;
        transition: $transition;
        padding: 1.5rem 2rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &:hover {
            border-color: $colorPrimary;

            a {
                border: 1px solid $colorSecondary;
                border-radius: 30px;
            }
        }

        .content {
            p {
                margin-bottom: 5px;
                font-family: $fontPrimary;

                span {
                    font-size: 1.4rem;
                    font-family: $fontPrimary;

                    &:not(:last-child) {
                        &:after {
                            content: "|";
                            margin: 0 1rem;
                            display: inline-block;
                        }

                    }
                }
            }
        }

        .link {
            @include respond (maxWidth1200){
                text-align: center;
                margin-top: 1.5rem;
            }
            @include respond (minWidth1200){
                width: 30rem;
            text-align: right;
            }

            a {
                border-bottom: 1px solid;
                padding: 5px 10px;
                color: $colorSecondary;
                font-weight: 500;
                font-size: 1.4rem;
                transition: $transition;

                &:hover {
                    background: $colorPrimary;
                    border-color: $colorPrimary;
                    color: $colorWhite;
                }
            }
        }
    }
}

.movement {
    .joinMovement {
        display: grid;
        grid-template-columns: 70% 30%;
        background: $colorSecondary;
        border-radius: 2rem;
        overflow: hidden;
        @include respond(maxWidth992){
            grid-template-columns: auto;
            background: rgba($colorPrimary, $alpha: 1);
            padding: 3rem;
            .content{
                clip-path: none!important;
                border-right: none!important;
                padding: 0!important;
            }
        }

        .content {
            clip-path: polygon(85% 0%, 100% 50%, 85% 100%, 0% 100%, 0 49%, 0% 0%);
            border-right: 20px solid $colorWhite;

            h2 {
                margin-bottom: 0
            }

            background: $colorPrimary;
            padding: 5rem 2rem;
        }

        .link {
            align-self: center;
            display: block;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            @include respond(maxWidth992){
                margin-top: 2rem;
            }

            a {
                @include BtnTwo();
            }
        }
    }
}